<html>
  <head>
    <style>
      .list_side li{
        margin-top: 30px;}

      .list_side li a{
        color:white;
        text-decoration: none}

      .list_side li a:hover{
        color:#d7d7d7;}

      .g1{
        background-color: #353E44;
        height: 91vh;}
      </style>
  </head>
  <body>
    <div class="container-fluid">
     {% include "header.html" %}
      <div class="row"> 
        <div class="col-lg-2 g1">
          <ul class="list_side" type="none">
            <!-- <li>
              <a href="/insert/" data-toggle="popover" title="Popover Header">Save Data</a>
            </li> -->
           <!--  <li>
              <a href="/retrieve/" data-toggle="popover" title="Popover Header">Display Data
              </a>
            </li> -->
            <!-- <li>
              <a href="{% url 'retrieve' %}" data-toggle="popover" title="Popover Header">Display all Data</a>
            </li> -->
          </ul>
        </div>
        <div class="col-lg-10"> 
          {% block content %}    
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>